<!DOCTYPE html>
<html>

<head>
    <title>Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'assets/css/main/app.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/main/app-dark.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'assets/images/logo/favicon.svg') }}"
          type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'assets/images/logo/favicon.png') }}"
          type="image/png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/pages/layout-device-template.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/shared/iconly.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/pages/radial-counter.css') }}"/>
</head>

<body>
<nav class="navbar navbar-light">
    <div class="container d-block">
        <a href="{{ url_for('index') }}"><i class="bi bi-chevron-left"></i></a>
        <a class="navbar-brand ms-4" href="index.html">
            <!-- <img src="{{url_for('static', filename='assets/images/logo/logo.svg') }}"> --></a>
    </div>
</nav>
<div class="container">
    <div class="row device_row">

    </div>
</div>
<script src="{{ url_for('static', filename = 'assets/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/app.js') }}"></script>

<!-- Need: Apexcharts -->
<!--<script src="{{ url_for('static', filename = 'assets/extensions/apexcharts/apexcharts.min.js') }}"></script>-->
<script src="{{ url_for('static', filename = 'assets/extensions/dayjs/dayjs.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename = 'assets/js/pages/ui-apexchart.js') }}"></script>-->
<!-- Add the following script tags to your HTML templates -->

<script src="{{ url_for('static', filename = 'assets/js/device.js') }}"></script>
<!-- <script src="{{ url_for('static', filename = 'assets/js/radial-counter.js') }}"></script>-->
</body>

</html>